@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body, html {
	font-family: 'Signika Negative', sans-serif;
		padding: 0;
		margin: 0;
}

p {
	font-size: 22px;
}

h1{
   font-size: 60px;
   text-transform: uppercase;
}

h2 {
	font-size: 54px;
}

h3 {
	font-size: 40px;
	font-weight: bold;
}

.img {
	background: url(img/titletop.png) no-repeat 0 0;
	width: 378px;
	height: 134px;
	background-size: 100%;
	margin: 130px 0 30px;
}

.wrapper {
	width: 500px;
	margin: -30px 50px;
}

.pp-header {
	background-color: #FFBD9B;
	min-height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.pp-header h1 {
	color: #FFEED8;
	margin: 90px 0px 30px;

}

.pic1 {
	background: url(img/frontsquareimg.png) no-repeat 0 0;
	background-size: cover;
	border-radius: 82px;
	border: 10px solid #0A1D37;
	width: 260px;
	height: 438px;
	position: absolute; top: 170px; left: 675px;
	z-index: 7;
}

.pic2 {
	background: url(img/circleimg.png) no-repeat 0 0;
	background-size: cover;
	border-radius: 50%;
	border: 10px solid #FFEED8;
	width: 294px;
	height: 294px;
	position: absolute; top: 50px; left: 895px;
	z-index: 3;
}

.pic3 {
	background: url(img/squareimg.png) no-repeat 0 0;
	background-size: cover;
	border: 10px solid #FDD8CC;
	width: 254px;
	height: 346px;
	position: absolute; top: 300px; left: 1050px;
	z-index: 1;
}

button.cta,
a.cta {
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	background-color: #0A1D37;
	display: inline-block;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
}

button.cta.alt, 
a.cta.alt {
	text-transform: none;
	background-color: #FFBD9B;
	color: black;
}

nav {
	height: 100px;
	background-color: #FDD8CC;
	box-shadow: 0 11px 17px rgba(0, 0, 0, .25);
	position: sticky;
	top: 0;
}

nav .logo {
	display: block;
	width: 414px;
	height: 61px;
	position: absolute; top: 50%; left: 0;
	margin-top: -30px;
	margin-left: 55px;
	background: url(img/titlenav.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999px;
}

nav ul {
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li {
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

nav ul li a {
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding: 30px 30px;
}

/* 



*/