html {
	height: 100%;
}

body {
	margin: 0;
}


nav {
	position: fixed;
	z-index: 1;
	right: 0;
	left: 0;
}

.navigation {
	text-align: center;
}

.navigation li {
	display: inline-block;
	margin: 0 15px;
	color: #FC4A1A;
}

.left-col {
	background-color: #DFDCE3;
}

.right-col {
	background-color: #4ABDAC;
}

img {
	max-width: 100%;
}

footer {
	background-color: #DFDCE3;
}

.social-icon {
	height: 60px;
	margin: 10px 20px;
}

.social-icons-container {
	text-align: center;
}