html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Inconsolata', monospace;
}


nav {
	position: fixed;
	z-index: 1;
	right: 0;
	left: 0;
	font-family: 'Karla', sans-serif;
	font-size: 22px;
}

h2, h3, h4, h5 {
	font-family: 'Karla', sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 150px;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-size: 100px;
	margin-bottom: 60px;
}

.navigation {
	text-align: center;
}

.navigation li {
	display: inline-block;
	margin: 0 15px;
}

.navigation li a {
	color: #FC4A1A;
	text-decoration: none;
}

.left-col, .right-col {
	color: #000000;
	text-align: center;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-col {
	background-color: #DFDCE3;
}

.right-col {
	background-color: #4ABDAC;
}

.top-container {
	width: 500px;
	margin: 0 auto;
}

.scroll {
	color: #F7B733;
	text-align: center;
}

.works {
	color: #42645F;
}

.works-img {
	position: relative;
	width: 100%;
}

.works h2 {
	color: #4ABDAC;
}

.team h2 {
	color: #FC4A1A;
}

.img-margin {
	margin-bottom: 50px;

}

.contact h2 {
	color: #F7B733;
}

h3 {
	font-size: 50px;
}

.works h3 {
	color: #2A6E64;
}

.team h3 {
	color: #FC4A1A;
	margin: 0 0 40px 0;
	line-height: 100%;
}

.works h4 {
	position: absolute;
	z-index: 1;
	top: -25px;
}

.works h4.right-aligned {
	right: 0;
}

.extra-gutters {
	padding: 0 60px;
}

.right-aligned {
	text-align: right;
}

h4 {
	font-size: 32px;
	color: #2A6E64;
	background-color: #56D6C3;
	display: inline-block;
	margin: 0;
	padding: 10px;
}

.works a {
	letter-spacing: 3px;
	color: #56D6C3;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}

p {
	line-height: 145%;
}

img {
	max-width: 100%;
}

.mepic {
	max-width: 80%;
	border-radius: 50%;
}

footer {
	background-color: #FC4A1A;
	min-height: 200px;
	color: #ffffff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.social-icon {
	height: 60px;
	margin: 10px 20px;
}

.social-icons-container {
	text-align: center;
}